@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@layer theme, base, components, utilities;
/* @theme {
   --color-primary: #2563eb;
} */

html{
  background-color: black;
}